{% if site.github.repository_url %}
	<a href="{{ site.github.repository_url }}/issues/new?title=Issue with {{ page.relative_path }}" title="Report an issue">
		<i class="fas fa-bug fa-xs align-right" id="bugreport"></i>
	</a>
	<a href="{{ site.github.repository_url }}/edit/master/{{ site.collections_dir }}/{{ page.relative_path }}" title="Edit this page">
		<i class="far fa-edit fa-xs align-right"></i>
	</a>
	<a href="{{ site.github.repository_url }}/tree/master/{{ site.collections_dir }}/{{ page.relative_path }}" title="View page source">
		<i class="fas fa-eye fa-xs align-right"></i>
	</a>
{% endif %}
